@{
    Layout = "_Layout";
}
<style>

</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">#Basic</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">What is Basic, exactly?</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <img src=" https://cdn-starbucks.netdna-ssl.com/uploads/images/_framed/jlHIqw4X-6993-4667.JPG" />
    <img src="http://images.wisegeek.com/sheepskin-boots.jpg" />
    <img src="https://images-mm.s3.amazonaws.com/Bud_Light_Label_Heather_Blue_Tank_Top_POP.jpg" />
</div>